*, *::before, *::after
{
    box-sizing: inherit;
}

html
{
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: sans-serif;
    background-color: azure;
    margin: 0;
    padding: 0;
}
